.container-960,
.container-1200 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0 50px 50px 50px;
  box-sizing: border-box;
}
.container-1200 {
  max-width: 1200px;
}
.container-960 {
  max-width: 960px;
}
.col {
  padding: 0;
  float: left;
  box-sizing: border-box;
}
.col:first-child {
  margin-left: 0;
}
.one.col {
  width: 8.33333333%;
}
.two.col {
  width: 16.66666667%;
}
.three.col {
  width: 25%;
}
.four.col {
  width: 33.33333333%;
}
.five.col {
  width: 41.66666667%;
}
.six.col {
  width: 50%;
}
.seven.col {
  width: 58.33333333%;
}
.eight.col {
  width: 66.66666667%;
}
.nine.col {
  width: 75%;
}
.ten.col {
  width: 83.33333333%;
}
.eleven.col {
  width: 91.66666667%;
}
.twelve.col {
  width: 100%;
}
.offset-one {
  margin-left: 8.33333333%;
}
.offset-two {
  margin-left: 16.66666667%;
}
.offset-three {
  margin-left: 25%;
}
.offset-four {
  margin-left: 33.33333333%;
}
.offset-five {
  margin-left: 41.66666667%;
}
.offset-six {
  margin-left: 50%;
}
.offset-seven {
  margin-left: 58.33333333%;
}
.offset-eight {
  margin-left: 66.66666667%;
}
.offset-nine {
  margin-left: 75%;
}
.offset-ten {
  margin-left: 83.33333333%;
}
.offset-eleven {
  margin-left: 91.66666667%;
}
.offset-twelve {
  margin-left: 100%;
}
@media (max-width: 750px) {
  .container-1200,
  .container-960 {
    width: 85%;
  }
  .tablet-one.col {
    width: 8.33333333%;
  }
  .tablet-two.col {
    width: 16.66666667%;
  }
  .tablet-three.col {
    width: 25%;
  }
  .tablet-four.col {
    width: 33.33333333%;
  }
  .tablet-five.col {
    width: 41.66666667%;
  }
  .tablet-six.col {
    width: 50%;
  }
  .tablet-seven.col {
    width: 58.33333333%;
  }
  .tablet-eight.col {
    width: 66.66666667%;
  }
  .tablet-nine.col {
    width: 75%;
  }
  .tablet-ten.col {
    width: 83.33333333%;
  }
  .tablet-eleven.col {
    width: 91.66666667%;
  }
  .tablet-twelve.col {
    width: 100%;
  }
  [class*="offset-"] {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .container-1200,
  .container-960 {
    width: 100%;
  }
  .col {
    width: 100% !important;
  }
}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
