@import "Variables.less";

.container-960, .container-1200 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.container-1200 {
  max-width: 1200px;
}

.container-960 {
  max-width: 960px;
}

.col {

  float: left;
  box-sizing: border-box;
}
.col:first-child {padding-left: 0;}
.col:last-child {padding-right: 0;}

.one.col {width: 100%*(1/12);}
.two.col {width: 100%*(2/12);}
.three.col {width: 100%*(3/12);}
.four.col {width: 100%*(4/12);}
.five.col {width: 100%*(5/12);}
.six.col {width: 100%*(6/12);}

.seven.col {width: 100%*(7/12);}
.eight.col {width: 100%*(8/12);}
.nine.col {width: 100%*(9/12);}
.ten.col {width: 100%*(10/12);}
.eleven.col {width: 100%*(11/12);}
.twelve.col {width: 100%*(12/12);}

.offset-one {margin-left: 100%*(1/12);}
.offset-two {margin-left: 100%*(2/12);}
.offset-three {margin-left: 100%*(3/12);}
.offset-four {margin-left: 100%*(4/12);}
.offset-five {margin-left: 100%*(5/12);}
.offset-six {margin-left: 100%*(6/12);}
.offset-seven {margin-left: 100%*(7/12);}
.offset-eight {margin-left: 100%*(8/12);}
.offset-nine {margin-left: 100%*(9/12);}
.offset-ten {margin-left: 100%*(10/12);}
.offset-eleven {margin-left: 100%*(11/12);}
.offset-twelve {margin-left: 100%*(12/12);}

@media(max-width: @TabletScreen){
  .container-1200, .container-960 {width: 85%;}
  .tablet-one.col {width: 100%*(1/12);}
  .tablet-two.col {width: 100%*(2/12);}
  .tablet-three.col {width:100%*(3/12);}
  .tablet-four.col {width: 100%*(4/12);}
  .tablet-five.col {width: 100%*(5/12);}
  .tablet-six.col {width: 100%*(6/12);}

  .tablet-seven.col {width: 100%*(7/12);}
  .tablet-eight.col {width: 100%*(8/12);}
  .tablet-nine.col {width: 100%*(9/12);}
  .tablet-ten.col {width: 100%*(10/12);}
  .tablet-eleven.col {width: 100%*(11/12);}
  .tablet-twelve.col {width: 100%*(12/12); margin: 0; padding: 0;}

  [class*="offset-"] {
    margin-left: 0;
  }
}

@media(max-width: @MobileScreen){
  .container-1200, .container-960 {width: 100%;}
  .col{
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
